*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
header{
    /* overflow: hidden; */
    background-image: linear-gradient(45deg, lightsalmon, tomato);
}
footer{
    background-image: linear-gradient(45deg, lightsalmon, tomato);
}
fieldset{
    border: 2px solid #dee2e6 !important;
    border-radius: 8px;
}
legend{
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    color: orange;
}
/* caption{
    font-size: 20px;
    color: orange;
} */
table tr td a{
    text-decoration: none;
    color: black;
}
table tr td a:hover{
    color: orangered;
}

table mark:hover{
    background-color: white;
    color: orangered;
}
#greeting,#name,h3{
    color: red;
    font-size: large;
}
/* .nav-1{
    display: left;
} */

