*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
header{
    background-image: linear-gradient(45deg, lightsalmon, tomato);
}
footer{
    background-image: linear-gradient(45deg, lightsalmon, tomato);
}
fieldset{
    border: 2px solid orange;
}
legend{
    text-align: center;
    color: orange;
}
table{
    border-collapse: collapse;
    margin: 20px;
}
/* caption{
    font-size: 20px;
    color: orange;
} */
tr,td,th{
    border: 2px solid orange;
    border-radius: 5px;
    padding: 10px;
}
table tr td a{
    text-decoration: none;
    color: black;
}
table tr td a:hover{
    color: orangered;
}
table tr td a mark{
    background-color: orange;
}
table mark:hover{
    background-color: white;
    color: orangered;
}
table tr td a abbr{
    text-decoration: none;
    cursor: pointer;
}